.form {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.input {
    background-color: inherit;
    border: none;
    border-bottom: 1px white solid;
    font-size: 4rem;
    color: white;
    padding-left: 10px;
    width: 90%;
}

button {
    background-color: inherit;
    border: none;
    color: white;
    font-size: 4rem;
    margin-left: -40px;
}

button:hover {
    color: blue;
}

button:active {
    color: darkblue;
}
